* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

  color-scheme: dark;
  color: theme.$colors-text;
  background-color: theme.$colors-surface-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:has(.Menu-isOpen) {
    overflow-y: hidden;
  }
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: clip;
  justify-content: center;
}
