@use "./variables" as variables;
@use "./typography";
@use "./colors" as colors;

%skeleton {
  animation: 1s linear infinite alternate skeleton-glow;

  background: variables.$skeleton-color-start;

  background-clip: padding-box !important;
  border-color: variables.$skeleton-color-start !important;
  border-radius: 2px;
  box-shadow: none !important;

  color: transparent !important;
  cursor: default;
  pointer-events: none;
  user-select: none;

  &::before,
  &::after,
  * {
    visibility: hidden !important;
  }
}

.Loading {
  @extend %skeleton;
}

%title {
  @extend %h2-text;
  display: flex;
  align-items: baseline;
  gap: 0.25rem;

  &::before {
    width: 1.5rem;
    height: 0.15rem;
    background-color: colors.$colors-text;
    border-radius: 1rem;
    content: "";
  }
}
