// neutral colors
$colors-shadow: #17203166;

//light theme
$colors-white-light-1: #ffffff;
$colors-white-light-2: #fafbfc;
$colors-gray-light-1: #e2e6e9;
$colors-gray-light-2: #b4bdc3;
$colors-gray-light-3: #89939a;
$colors-black-light: #0f0f11;

// dark theme
$colors-white-dark: #f1f2f9;
$colors-gray-dark-1: #75767f;
$colors-gray-dark-2: #4a4d58;
$colors-gray-dark-3: #3b3e4a;
$colors-gray-dark-4: #323542;
$colors-gray-dark-5: #161827;
$colors-black-dark: #020202;

// ------------------------------------ //

$colors-text: $colors-white-dark;
$colors-bg: $colors-black-light;
$colors-surface-bg: $colors-black-dark;
$colors-details: $colors-gray-light-3;